<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ca</key>
    <dict>
        <key>*</key>
        <string>ca-ES</string>
    </dict>
    <key>hr</key>
    <dict>
        <key>*</key>
        <string>hr-HR</string>
    </dict>
    <key>cs</key>
    <dict>
        <key>*</key>
        <string>cs-CZ</string>
    </dict>
    <key>da</key>
    <dict>
        <key>*</key>
        <string>da-DK</string>
    </dict>
    <key>nl</key>
    <dict>
        <key>nl_be</key>
        <string>nl-BE</string>
        <key>*</key>
        <string>nl-NL</string>
    </dict>
    <key>en</key>
    <dict>
        <key>en_au</key>
        <string>en-AU</string>
        <key>en_ca</key>
        <string>en-CA</string>
        <key>en_gb</key>
        <string>en-GB</string>
        <key>en_ie</key>
        <string>en-IE</string>
        <key>en_in</key>
        <string>en-IN</string>
        <key>en_nz</key>
        <string>en-NZ</string>
        <key>en_ph</key>
        <string>en-PH</string>
        <key>en_sg</key>
        <string>en-SG</string>
        <key>en_us</key>
        <string>en-US</string>
        <key>en_za</key>
        <string>en-ZA</string>
        <key>*</key>
        <string>en-001</string>
    </dict>
    <key>en-gb</key>
    <dict>
        <key>*</key>
        <string>en-GB</string>
    </dict>
    <key>fi</key>
    <dict>
        <key>*</key>
        <string>fi-FI</string>
    </dict>
    <key>fr</key>
    <dict>
        <key>fr_be</key>
        <string>fr-BE</string>
        <key>fr_ca</key>
        <string>fr-CA</string>
        <key>fr_ch</key>
        <string>fr-CH</string>
        <key>*</key>
        <string>fr-FR</string>
    </dict>
    <key>de</key>
    <dict>
        <key>de_at</key>
        <string>de-AT</string>
        <key>de_ch</key>
        <string>de-CH</string>
        <key>*</key>
        <string>de-DE</string>
    </dict>
    <key>el</key>
    <dict>
        <key>*</key>
        <string>el-GR</string>
    </dict>
    <key>hu</key>
    <dict>
        <key>*</key>
        <string>hu-HU</string>
    </dict>
    <key>id</key>
    <dict>
        <key>*</key>
        <string>id-ID</string>
    </dict>
    <key>it</key>
    <dict>
        <key>*</key>
        <string>it-IT</string>
    </dict>
    <key>ja</key>
    <dict>
        <key>*</key>
        <string>ja-JP</string>
    </dict>
    <key>ko</key>
    <dict>
        <key>*</key>
        <string>ko-KR</string>
    </dict>
    <key>ms</key>
    <dict>
        <key>*</key>
        <string>ms-MY</string>
    </dict>
    <key>nb</key>
    <dict>
        <key>*</key>
        <string>nb-NO</string>
    </dict>
    <key>pl</key>
    <dict>
        <key>*</key>
        <string>pl-PL</string>
    </dict>
    <key>pt</key>
    <dict>
        <key>*</key>
        <string>pt-BR</string>
    </dict>
    <key>pt-pt</key>
    <dict>
        <key>*</key>
        <string>pt-PT</string>
    </dict>
    <key>ro</key>
    <dict>
        <key>*</key>
        <string>ro-RO</string>
    </dict>
    <key>ru</key>
    <dict>
        <key>*</key>
        <string>ru-RU</string>
    </dict>
    <key>zh-hans</key>
    <dict>
        <key>*</key>
        <string>zh-CN</string>
    </dict>
    <key>sk</key>
    <dict>
        <key>*</key>
        <string>sk-SK</string>
    </dict>
    <key>es</key>
    <dict>
        <key>es_ar</key>
        <string>es-AR</string>
        <key>es_cl</key>
        <string>es-CL</string>
        <key>es_es</key>
        <string>es-ES</string>
        <key>es_mx</key>
        <string>es-MX</string>
        <key>es_us</key>
        <string>es-US</string>
        <key>*</key>
        <string>es-419</string>
    </dict>
    <key>sv</key>
    <dict>
        <key>*</key>
        <string>sv-SE</string>
    </dict>
    <key>th</key>
    <dict>
        <key>*</key>
        <string>th-TH</string>
    </dict>
    <key>zh-hant</key>
    <dict>
        <key>zh_hant_hk</key>
        <string>zh-HK</string>
        <key>zh_hk</key>
        <string>zh-HK</string>
        <key>*</key>
        <string>zh-TW</string>
    </dict>
    <key>tr</key>
    <dict>
        <key>*</key>
        <string>tr-TR</string>
    </dict>
    <key>uk</key>
    <dict>
        <key>*</key>
        <string>uk-UA</string>
    </dict>
    <key>vi</key>
    <dict>
        <key>*</key>
        <string>vi-VN</string>
    </dict>
    <key>*</key>
    <dict>
        <key>*</key>
        <string>en-001</string>
    </dict>
</dict>
</plist>
